@import '../mixins/_mixins.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.padding-right50 {
  padding-right: 50px;
}
.black {
  color: #212121 !important;
}
.header > div:nth-of-type(1),
.header,
.header-right-part,
.justify-content-centre,
.flex,
.contacts,
.main-text-pictures {
  @include flex(flex);
}
.cursor-pointer {
  @include cursor(pointer);
}
.color-aqua {
  @include colorAqua(#2196F3);
}
.text-align-center {
  @include textAlign(center);
}
.text-decoration-none {
  @include textDecoration(none);
}
.position-absolute {
  @include positionAbsolute(absolute);
}
body {
  font-family: "Roboto", sans-serif; }
  .header {
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    .web {
      font-family: "Raleway", sans-serif;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.78px;
    }
    .studio {
      font-family: "Raleway", sans-serif;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.78px;
      color: #000;
    }
    .contacts {
      padding-right: 344px;
      .contacts-container {
        position: relative;
        .contacts-link {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.28px;
        }
        .contacts-container__line {
          top: 45px;
          width: 47px;
          height: 4px;
          border-radius: 2px;
          background: #2196F3;
        }
      }
    }
    .header-right-part {
      .email1 {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        text-decoration: none;
      }
      .telephone-number {
        color: #757575;
        text-decoration: none;
      }
    }
  }
  .main {
    background-image: url("../studio/img/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .main_title {
      .main_title__h2 {
        color: #FFF;
        text-align: center;
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        padding: 200px 452px 80px;
      }
    }
    .justify-content-centre {
      justify-content: center;
      padding-bottom: 200px;
      .order-service,
      .send {
        width: 216px;
        height: 50px;
        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
      }
    }
    .modal-register {
      width: 528px;
      height: 581px;
      background-color: #fff;
      right: 144px;
      bottom: 1px;
      display: none;
      .cross::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 18px;
        background-color: #2196F3;
        transform: translate(515px, 5px) rotate(45deg);
        cursor: pointer;
      }
      .cross::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 18px;
        background-color: #2196F3;
        transform: translate(515px, 5px) rotate(315deg);
        cursor: pointer;
      }
      .modal-register__title_text {
        color: #212121;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.6px;
        padding: 40px 0 12px;
      }
      .modal-register__form {
        flex-direction: column;
        padding-left: 41px;
        .grid {
          display: grid;
          position: relative;
          color: #757575;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.12px;
          .grid_input {
            width: 448px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            margin-bottom: 10px;
          }
          textarea {
            width: 448px;
            height: 120px;
            border-radius: 4px;
            border: 1px solid rgba(33, 33, 33, 0.2);
          }
          textarea::-moz-placeholder {
            width: 416px;
            height: 96px;
            padding-top: 12px;
          }
          textarea::placeholder {
            width: 416px;
            height: 96px;
            padding-top: 12px;
          }
          .black-man {
            background-image: url(./img/person-blue.png);
            border: 1px solid #2196F3 !important;
            background-repeat: no-repeat;
          }
          
          .black-phone {
            background-image: url(./img/phone-black.png);
            background-repeat: no-repeat;
          }
          
          .black-email {
            background-image: url(./img/email-black.png);
            background-repeat: no-repeat;
          }
          input[onclick=""]:focus {
            background-image: none;
          }
        }
        .padding-20-0-30 {
          padding: 20px 0 30px;
          .checkbox-text {
            width: 270px;
            height: 72px;
            color: #757575;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.42px;
            .checkbox-text > a {
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.42px;
              text-decoration-line: underline;
            }
          }
        }
        .justify-content-centre {
          .send {
            width: 200px;
            height: 50px;
            border-radius: 4px;
            background: #188CE8;
          }
        }
      }
    }
    .active {
      display: block;
    }
  }
  .main-text-pictures {
    justify-content: space-evenly;
    padding-top: 94px;
    .card-text {
      .card-text__title_text {
        width: 270px;
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
      }
      .card-text__text {
        width: 270px;
        height: 72px;
        color: #757575;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
      }
    }
  }