@mixin flex($flex) {
    display: $flex;
}
@mixin cursor($pointer) {
    cursor: $pointer;
}
@mixin colorAqua($colorAqua) {
    color: $colorAqua;
}
@mixin textAlign($center) {
    text-align: $center;
}
@mixin textDecoration($none) {
    text-decoration: none;
}
@mixin positionAbsolute($absolute) {
    position: absolute;
}
@mixin positionRelative($relative) {
    position: relative;
}